
  .image {
    position: relative;
    animation: slide 2s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(50%);
    }
    50%{
      transform: translateX(0);
    }
    75%{
      transform: translateX(-50%);
    }
    100%{
      transform: translateX(0);
    }
  }